---
---

@import "zurbutil";
@import "reset";

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: rem-calc(480)) and (max-width: rem-calc(767)) { 
  img { width: 80vw; }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: rem-calc(479)) { 
  img { width: 90vw; }
}

.headliner {
  width: 100%;
  display: flex;
  justify-content: space-around;

  header {
    text-align: center;
    flex-grow: 1;
  }
  img {
    max-width: 100vw;
  }
}

nav {
  flex-grow: 3;
  display: flex;
  justify-content: space-around;
  font-size: 140%;

  max-width: 620px;
  margin: auto;

  a {
    color: #00094b;
  }
}

.cta {
  text-align: right;
  color: #d5000d;
}
.homegrid {
  display: grid;

  grid-template-areas: "vcard sample";
  grid-column-gap: 1em;
  grid-row-gap: 1em;

  @media (max-width: rem-calc(479)) { 
    grid-template-areas: "vcard" "sample";
    .vcard {
      align-items: center;
      line-height: 2em;
    }
  }
  .sample {
    grid-area: sample
  }

  .vcard {
    grid-area: vcard;
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    .org {
      display: none;
    }
  }

}
